* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--color-bg-light);
  color: #1e1e1e;
  line-height: 1.6;
}

header {
  background-color: #fff;
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

header h1 a {
  color: #377dff;
  text-decoration: none;
  font-weight: 600;
}

header nav {
  display: flex;
  gap: 40px;
}
header nav a {
  color: #1e1e1e;
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  padding: 10px 10px;
  border-radius: 2px;
  transition: color 0.3s;
}
header nav a:hover {
  color: #377dff;
}
header nav a.active {
  color: #377dff;
  font-weight: bold;
}

.btn {
  background-color: #377dff;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 25px;
  transition: background 0.3s;
}

.btn:hover {
  background-color: #2b66d4;
}

.hero {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 60px 50px;
}

.hero-text {
  flex: 1;
  padding-right: 40px;
}

.hero-text h2 {
  font-size: 36px;
  margin-bottom: 15px;
}

.hero-text p {
  font-size: 18px;
  margin-bottom: 25px;
}

.hero-img {
  flex: 1;
  text-align: center;
}

.hero-img img {
  max-width: 70%;
  height: auto;
}

.features {
  display: flex;
  justify-content: space-around;
  padding: 40px 20px;
  background-color: #fff;
}

.feature {
  max-width: 300px;
  text-align: center;
}

.feature span {
  font-size: 70px;
  display: block;
  margin-bottom: 10px;
  color: #ff6a3d;
}

.steps {
  padding: 60px 50px;
  text-align: center;
}

.steps h3 {
  font-size: 24px;
  margin-bottom: 30px;
}

.steps-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.step {
  width: 180px;
  margin-bottom: 30px;
}

.step img {
  width: 150px;
  height: 150px;
  margin-bottom: 10px;
}

.step p{
  font-weight: 600;
  font-size: 16px;
  color:var(--text-main);
}

.cta {
  background-color: #377dff;
  color: white;
  text-align: center;
  padding: 60px 20px;
}

.cta h4 {
  font-size: 24px;
  margin-bottom: 20px;
}

.footer {
  background-color: #f9f9f9;
  text-align: center;
  padding: 20px;
  font-size: 14px;
  color: #777;
}

@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    text-align: center;
  }

  .hero-text {
    padding: 0;
  }

  .features {
    flex-direction: column;
    align-items: center;
  }

  .steps-container {
    flex-direction: column;
    align-items: center;
  }
}
