/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-light);
  color: var(--text-main);
  font-family: var(--font-main);
}

h1, h2, h3 {
  font-family: var(--font-headings);
}

.navbar {
  background-color: var(--color-primary);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1.5rem 2rem;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav-links li {
  display: flex;
  align-items: center;
}

.nav-links a {
  color: var(--text-white);
  text-decoration: none;
  font-weight: 500;
  font-family: var(--font-main);
}


.btn-register {
  background-color: var(--color-light);
  color: var(--color-primary);
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 12px 15px;
  border-radius: 400px;
  font-weight: 400;
  text-decoration: none;
  font-family: var(--font-main);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease;
}

.btn-register:hover {
  background-color: var(--color-secondary);
  color: var(--color-light);
}

/* Hero section */
.hero {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}

.hero-text {
  background-color: var(--color-secondary);
  color: white;
  padding: 1rem;
  width: 450px;
  height: 30%;
  border-radius: 25px;
}

.logo-area {
  display: flex;
  justify-content: right;
  flex-direction: column; 
  align-items: center;
  gap: 1rem;
}

.logo-area img {
  width: 150px; /* Ajusta este valor como quieras */
  height: auto;
  justify-content: center;
}

.titulo_principal{
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
}
.description {
  color: var(--text-white);
  margin-top: 1rem;
  margin-bottom: 1rem;
  line-height: 1.5;
  font-size: 1.1rem;
  font-family: var(--font-main);
  font-weight: 400;
  text-align: center;
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 0 1rem;
  max-width: 600px;
  margin: 0 auto;
  margin: 4rem 1rem;
  font-size: 1.2rem;
  text-align: center;
}

.hero-text .btn-primary {
  background-color: var(--color-light);
  color: #1A1A1A;
  border-radius: 25px;
  padding: 0.8rem 1.2rem;
  display: inline-block;
  font-weight: bold;
  text-align:center;
  text-decoration: none;
}

.hero-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-image img {
  width: 600px;
  height: auto;
  border-radius: 20px 0 20px 0;
  transform: translateY(-100px); /* súbela 20px */
}

